.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

__pycache__/*
*pyc
workspace/*
swarmlog/*
nohup.out
pull_data_RNTDecoding.py
launch.json
clean_docker
*.sif
